<div class="st">
  <div class="section">
    <h2 class="section-title">Education</h2>
    <div class="item">
      <div class="item-title">Degree : 2GLSI</div>
      <div class="item-details">University Name : ISLAIB</div>
      <div class="item-details">Location : Beja </div>
      <div class="item-details"> 2021 to 2023</div>
    </div>
    <div class="item">
      <div class="item-title">Degree : introduction to game devolepment</div>
      <div class="item-details">in go my code</div>
      <div class="item-details">beja</div>
      <div class="item-details">MAR 14 TH 2022 TO SAT APR 16TH 2022</div>
    </div>
    <div class="item">
        <div class="item-title">Degree :European communication </div>
        <div class="item-details">ECo-c </div>
        <div class="item-details">online</div>
        <div class="item-details">2022</div>
      </div>
      <div class="item">
        <div class="item-title">serticate</div>
        <div class="item-details">Eco-c CERTIFICATE (European communication certificate)</div>
        <div class="item-details">certificate of completion :introduction to game development</div>
        <div class="item-details">microsoft serticate</div>
     
      </div>
  </div></div>