.st{
    font-family: Arial, sans-serif;
    margin-left: 250px;
    padding: 20px;
  }

  h1 {
    text-align: center;
    margin-top: 40px;
  }

  .section {
    margin-bottom: 20px;
  }

  .section-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .item {
    margin-bottom: 10px;
  }

  .item-title {
    font-weight: bold;
  }
