<div class="experience" >
   

    
        
        <div class="item">
          <div class="item-title">internship</div>
          <div class="item-details">Company Name: GMM consulting </div>
          <div class="item-details">Location: tunis,monplaisie,nahj-hmida</div>
          <div class="item-details">Duration :a mounth from june 1st to june 30th</div>
          <ul>
            <li>js frameworek</li>
            <li>css Frameworks</li>
            <li>git + github</li>
          </ul>
        </div>
      </div>

    
