
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
   
   
   
  
    <script src='htpp://kit.fontawesome.com/a076d05399.js' crossringin='anonymous'></script>

    <input type="checkbox" id ="check">
    <label for="check">
    <i class ="fas fa-bars" id="btn"></i>
    <i class ="fas fa-times" id="cancel"></i>
    </label>
    <div class="sidebar">
    <header>my cv</header>
    <ul>
        <li><a routerLink="experiences"><i class='fas fa-qrcode'></i><h1>Experience</h1></a></li>
        <li><a routerLink="education"><i class="fas fa-link"></i><h1>Education</h1></a></li>
        <li><a routerLink="skills"><i class="fas fa-stream"></i><h1>skills</h1></a></li>

   

    </ul> 
    </div>
