/* You can add global styles to this file, and also import other style files */
.dark-mode {
    background-color: #000;
    color: #fff;
  }
  body{
    background-color: antiquewhite;
    color: #000;
  }