


  
  <div class="container">
    
  
    <div class="profile-header"><div class="aboutme">
        <h1>Trai Mohamed amin</h1><br>
        <h1>Tabarka, Jendouba,Tunisia</h1><br>
        <h1>Phone: 27799518</h1><br>
        <h1> Email: mohamedamintraih@email.com</h1><br>
      </div>
      <div class="bt">
      <label class="switch">

        
        <input type="checkbox" id="toggleBtn" (click)="modenuit()" >
        <span class="slider"></span></label> </div>
      <img src="C:\Users\MOHAMED AMINE\Desktop\amintrai\project\src\app\MYPHOTO.jpj" alt="MYPHOTO"  class="profile-photo">
      <h1 class="profile-name">Trai Mohamed Amin</h1>
    </div>
  </div>
  

  


